/*
 * Controls list
 * A list of controls
 */
.controls {
  @include desktop-only() {
    width: 50%;
  }
}

/*
 * Control
 * One of many controls in a controls list (e.g. "Pants")
 * Contains a list of Options (e.g. hue-slider) and an Item List
 */

 
.controls { 
  margin: $m;
  padding: $p;
  padding-top: $p * 2;
}

.control__header {
  background-color: #4d4a5d;
  height: 50px;
  font-size: 2rem;
  padding: 5px;
}

.control__header:hover {
  background-color: #d7d4e8;
}
.control__body {
  padding: $m * 2;
  display: none;
  overflow: hidden;
  
}
.control__options {}


.control__body.is-open {
  
 display: block;
  
  
  }

/*
 * Option
 * Something configurable within a control (e.g. a hue slider)
 */
.option {
  width: 100%;
  font-size: 2rem;
  
}
.option__label {
  display: flex;
  flex-direction: row;
  >span {
    margin-right: $m;
  }
}
.option__control {
  flex-grow: 1;
  
}

/*
 * Item List
 * A list of items, displayed within a control
 */
 .item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

/*
 * Item
 * A clothing item, displayed as a grid within an item list
 */
.item {
  width: 130px;
  height: 130px;
  background-color: gray;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: $m;
  margin-bottom: $m;
  padding: $m;
  border-radius: $radius;
  font-size: 2rem;
  @include media-query("desktop") {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
  }
}
.item:hover {
  background-color: #d7d4e8;
}
.item:focus {
  background-color: #d7d4e8;
}
.item__image {
  max-width: 100%;
  max-height: 100%;
}
.item__clear-icon {
  font-size: 1.25rem;
}