/*
 * The Jeff component
 * Previews the currently selected fit
 */

 .jeff__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $m * 2;
  max-height: 100vh;
  @include desktop-only() {
    width: 50%;
  }

 }

 .clear {
  background-color: #8e3232;
  padding: $p;
  font-size: 2rem;
  text-align: center;
  border: 2px solid #760909;
  border-radius: 10px;
  width: 100%;
 }

 .clear:hover {
  background-color: #ec6f6f;
 }

.jeff {
  position: relative;
}

// Common styles used by each "layer" of the Jeff
%image-layer {
  position: absolute;
  max-width: 100%;
  top: 0;
  left: 0;
}

.jeff__background {
  @extend %image-layer;
  position: static; // Make background non-absolute so it takes up space in the layout
}


// Use z-index to ensure the layers are drawn in the correct order:
// https://developer.mozilla.org/en-US/docs/Web/CSS/z-index

.jeff__accessory {
  @extend %image-layer;
  z-index: 5;
}

.jeff__top {
  @extend %image-layer;
  z-index: 4;
}

.jeff__pants {
  @extend %image-layer;
  z-index: 3;
}

.jeff__shoes {
  @extend %image-layer;
  z-index: 2;
}