/*
 * Configuration & variables
 * Shared configuration that is used by everything for consistency
 */

// Breakpoint
// This application only has one: Mobile vs. Desktop
$breakpoint-mobile: 820px;

// Common margin and padding variable to keep margins consistent
$m: 10px;
$p: 10px;

// Common border radius to keep corner radius' consistent
$radius: 5px;

//Make common font sizes!




